[submodule "pack/romes/start/ale"]
	path = pack/romes/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/romes/start/vim-polyglot"]
	path = pack/romes/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/romes/start/vim-commentary"]
	path = pack/romes/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/romes/start/tabular"]
	path = pack/romes/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/romes/start/vim-surround"]
	path = pack/romes/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/romes/start/emmet-vim"]
	path = pack/romes/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/themes/opt/everforest"]
	path = pack/themes/opt/everforest
	url = https://github.com/sainnhe/everforest
[submodule "pack/romes/start/vim-css-color"]
	path = pack/romes/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/themes/opt/vim-colors-xcode"]
	path = pack/themes/opt/vim-colors-xcode
	url = https://github.com/arzg/vim-colors-xcode
[submodule "pack/romes/start/fzf.vim"]
	path = pack/romes/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/themes/opt/seoul256.vim"]
	path = pack/themes/opt/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "pack/themes/opt/nightfox.nvim"]
	path = pack/themes/opt/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim.git
[submodule "pack/romes/start/vim-fugitive"]
	path = pack/romes/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/romes/start/linediff.vim"]
	path = pack/romes/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
[submodule "pack/themes/opt/ayu-vim"]
	path = pack/themes/opt/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
[submodule "pack/themes/opt/vim-colors-github"]
	path = pack/themes/opt/vim-colors-github
	url = git@github.com:cormacrelf/vim-colors-github.git
[submodule "pack/romes/start/vimwiki"]
	path = pack/romes/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "pack/romes/opt/lightline.vim"]
	path = pack/romes/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "pack/themes/opt/papercolor-theme"]
	path = pack/themes/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "pack/romes/start/dash.vim"]
	path = pack/romes/start/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
