[submodule "pack/romes/start/ale"]
	path = pack/romes/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "pack/romes/start/vim-polyglot"]
	path = pack/romes/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/romes/start/vim-commentary"]
	path = pack/romes/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/romes/start/tabular"]
	path = pack/romes/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/romes/start/vim-surround"]
	path = pack/romes/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/romes/start/emmet-vim"]
	path = pack/romes/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/themes/opt/everforest"]
	path = pack/themes/opt/everforest
	url = https://github.com/sainnhe/everforest
[submodule "pack/romes/start/vim-css-color"]
	path = pack/romes/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "pack/themes/opt/vim-colors-xcode"]
	path = pack/themes/opt/vim-colors-xcode
	url = https://github.com/arzg/vim-colors-xcode
[submodule "pack/romes/start/unicode.vim"]
	path = pack/romes/start/unicode.vim
	url = https://github.com/chrisbra/unicode.vim
[submodule "pack/romes/start/vim-two-firewatch"]
	path = pack/romes/start/vim-two-firewatch
	url = https://github.com/rakr/vim-two-firewatch
